venv
/venv

.env

# Ignore django files
*.pyc
__pycache__/
# Ignore database files
*.sqlite3
# Ignore migrations
migrations/
# Ignore static files
static/
# Ignore media files
media/
# Ignore IDE files
.idea/
# Ignore logs
*.log
# Ignore coverage reports
coverage.xml
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/